:root{
    --primary-color:#10b981;
   
}

body {
    text-align: center;
}

h1 {
    font-size: xx-large;
    margin: 2rem;
}
.input-label {
    font-size: larger;
    display: block;
    font-weight: 600;
 }

.input {
    padding: 0.5rem 1rem;
    margin: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
 
    max-width: 258px;
    width: 100%;
}

#submit-btn {
    background-color: var(--primary-color);
    border:none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    display: block;
    margin: 1rem auto;
}

#output {
    font-size: x-large;
    margin: 1rem;
}

footer {
    text-align: center;
}

footer p {
    font-size: large;
    text-align: center;
}


.footer-list {
    margin: 1rem;
}

 a , li {
    display: inline;
   color: var(--primary-color);
    text-decoration: none;


}
footer a {
    text-decoration: none;
    color: var(--primary-color);
}
